[%# args:

document     => an SML::Document object
acronym_list => an SML::AcronymList object

%]
<div align="center">
<table>
<tr>

[%- FOREACH group IN acronym_list.get_group_list -%]
<td style="text-align:center;padding:0px;"><button type="button" style="width:25px" onclick="goToA('#[%group%]');">[%group%]</button></td>

[%- END -%]

</tr>
</table>
</div>
