[%#

ATTACHMENT.tt

ARGS:

self => an SML::Attachment object

-%]
[%-

ps     = self.get_library.get_property_store
number = self.get_number
id     = self.get_id
file   = ps.get_property_text(id,'file')
anchor = 'ATTACHMENT.' _ number

-%]
<div class="attachment" id="[%anchor%]">
<table>
<tr>
<td><a href="[%file%]"><img src="images/paperclip.png"></a></td>
<td>

[%- INCLUDE division_heading.tt label = 'Attachment' -%]

</td>
</tr>
</table>
</div>
