[%#

ATTACHMENT.tt

ARGS:

self => an SML::Attachment object

-%]
[%-

library = self.get_library
number  = self.get_number
id      = self.get_id
file    = library.get_first_property_value(id,'file')
anchor  = 'ATTACHMENT.' _ number

-%]
<div class="attachment" id="[%anchor%]">
<table>
<tr>
<td><a href="[%file%]"><img src="images/paperclip.png"></a></td>
<td>

[%- INCLUDE division_heading.tt label = 'Attachment' -%]

</td>
</tr>
</table>
</div>
