[%# args:

document => an SML::Document object

%]
[%- UNLESS document -%]
[%- document = self.get_containing_document -%]
[%- END -%]
[%~

document_id = document.get_id
library     = document.get_library
ps          = library.get_property_store

~%]
[% IF ps.has_property(document_id,'header_center') %]
[%- INCLUDE STRING.tt self = ps.get_property_string(document_id,'header_center') -%]
[% END %]
