[%#

CITATION_REF.tt

ARGS:

self => an SML::CitationReference object

-%]
[%-

source_id = self.get_source_id
details   = self.get_details
document  = self.get_containing_document

-%]
[%- IF details -%]
[<a href="references.html#[%source_id%]">[%source_id%], [%details%]</a>]
[%- ELSE -%]
[<a href="references.html#[%source_id%]">[%source_id%]</a>]
[%- END -%]
