[%#

DEFINITION_LIST_ITEM.tt

ARGS:

self => an SML::DefinitionListItem object

-%]
<dt><b>[%- INCLUDE STRING.tt self = self.get_term_string -%]</b></dt>

<dd>[%- INCLUDE STRING.tt self = self.get_definition_string -%]<br/><br/></dd>
