[%#

DEMO.tt

ARGS:

self => an SML::Demo object

-%]
[%-

demo_number = self.get_number
anchor      = 'DEMO.' _ demo_number

-%]
<div class="demo" id="[%anchor%]">

<!-- put demo navigation link table here -->

[%- INCLUDE division_heading.tt label = 'Demonstration' -%]

[%- INCLUDE narrative_part_list.tt -%]

</div>
