[%#

document_version.tt

ARGS:

document => an SML::Document object

-%]
[%-

library     = document.get_library
document_id = document.get_id
sha_digest  = document.get_sha_digest
sha         = sha_digest.substr(0,7)

-%]
<div style="text-align:center;font-size:8pt;">

[%- IF library.has_version -%]
[%- version = library.get_version -%]
<font color="#888888">[%version%]</font><br/><br/>
[%- END -%]

<font color="#888888">SHA [%sha%]</font>

</div>
