[%#

EMAIL_ADDR.tt

ARGS:

self => an SML::EmailAddr object

-%]
[%-

email_addr = self.get_email_addr

-%]
[%- IF self.contains_content -%]
<a href="mailto:[%email_addr%]">[%-FILTER html-%][%-self.get_content-%][%-END-%]</a>
[%- ELSE -%]
<a href="mailto:[%email_addr%]">[%email_addr%]</a>
[%- END -%]