[%#

entities_button_bar.tt

ARGS:

ontology => an SML::Ontology object

-%]
<div>
Entities: 
[%- FOREACH entity_name IN ontology.get_entity_name_list -%]
<a href="#[%entity_name%]">[%entity_name%]</a> &middot; 
[%- END -%]
</div>
