[%#

EXERCISE.tt

ARGS:

self => an SML::Exercise object

-%]
[%-

number = self.get_number
anchor = 'EXERCISE.' _ number

-%]
<div class="exercise" id="[%anchor%]">

<!-- put exercise navigation link table here -->

[%- INCLUDE division_heading.tt label = 'Exercise' -%]

[%- INCLUDE narrative_part_list.tt -%]

</div>
