[%#

FIGURE.tt

ARGS:

self => an SML::Figure object

-%]
[%-

number = self.get_number
anchor = 'FIGURE.' _ number

-%]
<div class="figure" id="[%anchor%]">

<div style="text-align:center;">
[%- INCLUDE division_heading.tt label = 'Figure' -%]
</div>

<br/><br/>

[%- INCLUDE narrative_part_list.tt -%]

</div>
