[%#

FOOTNOTE_REF.tt

ARGS:

self => an SML::FootnoteReference object

-%]
[%-

id  = self.get_section_id
num = self.get_number

-%]
<span style="font-size:8pt;"><a href="#footnote.[%id%].[%num%]"><sup>[[%num%]]</sup></a></span>