[%#

GLOSS_DEF_REF.tt

ARGS:

self => an SML::GlossaryDefinitionReference object

-%]
[%-

document   = self.get_containing_document
glossary   = document.get_glossary
term       = self.get_term
namespace  = self.get_namespace
entry      = glossary.get_entry(term,namespace)
definition = entry.get_definition_string

-%]
[%- INCLUDE STRING.tt self = definition -%]