[%#

image.tt

ARGS:

self => an SML::Image object

-%]
[%-

basename = self.get_basename
width    = self.get_width
height   = self.get_height

-%]
[%- IF width > 605 -%]
<div align="center">
<a href="images/[%basename%]">
<img src="images-scaled/[%basename%]" alt="" style="width:605">
</a>
</div>
[%- ELSE -%]
<div align="center">
<img src="images/[%basename%]" alt="" style="width:[%width%]px;height:[%height%]px;">
</div>
[%- END -%]