[%# args:

library => an SML::Library object

%]
[%-

references = library.get_references

-%]
[%- WRAPPER library_page.tt -%]

<h1 align="center">Library List of References</h1>

[%- count = references.get_entry_count -%]
<p align="center">([%count%] entries)</p>

[%- source_list = references.get_entry_list -%]

[%- FOREACH source IN source_list -%]
[%- INCLUDE source_entry.tt -%]
[%- END -%]

[%- END -%]
