[%# args:

self => an SML::Listing object

%]
[%-

listing_number = self.get_number
anchor         = 'LISTING.' _ listing_number

-%]
<div class="listing" id="[%anchor%]">

<!-- put listing navigation link table here -->

[%- INCLUDE division_heading.tt label = 'Listing' -%]

<pre>
[%-FILTER html-%][%-self.get_content-%][%-END-%]
</pre>

</div>

