[%#

LOOKUP_REF.tt

ARGS:

self => an SML::LookupReference object

-%]
[%-

ps                   = self.get_library.get_property_store
target_id            = self.get_target_id
target_property_name = self.get_target_property

-%]
[% INCLUDE STRING.tt self = ps.get_property_string(target_id,target_property_name) %]