[%#

LOOKUP_REF.tt

ARGS:

self => an SML::LookupReference object

-%]
[%-

library              = self.get_library
target_id            = self.get_target_id
target_property_name = self.get_target_property

-%]
[% library.get_first_property_value(target_id,target_property_name) %]