[%# args:

ontology => an SML::Ontology object

%]
<div>
Entities: 
[%- FOREACH entity_name IN ontology.get_entity_name_list -%]
<a href="#[%entity_name%]">[%entity_name%]</a> &middot; 
[%- END -%]
</div>

<br/>

<div>
Structures: 
[%- FOREACH structure_name IN ontology.get_structure_name_list -%]
<a href="#[%structure_name%]">[%structure_name%]</a> &middot; 
[%- END -%]
</div>
