[%#

QUOTATION.tt

ARGS:

self => an SML::Quotation object

-%]
[%-

library = self.get_library
id      = self.get_id
anchor  = 'quotation.' _ self.get_number

-%]
<div class="quotation" id="[%anchor%]">

[% INCLUDE part_list.tt %]

[%- IF library.has_property(id,'source') -%]
<span style="font-size: 8pt;"><i>Source:
[%- INCLUDE element.tt element = library.get_first_property_value_element(id,'source') -%]
</i></span>
[%- END -%]

</div>
