[%#

SLIDE.tt

ARGS:

self => an SML::Slide object

-%]
[%-

number = self.get_number
anchor = 'SLIDE.' _ number

-%]
<div class="slide" id="[%anchor%]">

<!-- put slide navigation link table here -->

[%- INCLUDE division_heading.tt label = 'Slide' -%]

[%- INCLUDE narrative_part_list.tt -%]

</div>
