[%# args:

status => one of: green, yellow, red, grey

%]
[%- IF status == 'green' -%]
<img src="images/status_green.png">
[%- ELSIF status == 'yellow' -%]
<img src="images/status_yellow.png">
[%- ELSIF status == 'red' -%]
<img src="images/status_red.png">
[%- ELSE -%]
<img src="images/status_grey.png">
[%- END -%]
