[%#

TABLE.tt

ARGS:

self => an SML::Table object

-%]
[%-

number = self.get_number
anchor = 'TABLE.' _ number

-%]
<div class="table" id="[%anchor%]">

[%- INCLUDE division_heading.tt label = 'Table' -%]

<table>

[% INCLUDE narrative_part_list.tt %]

</table>

</div>
