[%# args:

self => an SML::Symbol object

%]
[%-

document    = self.get_containing_document
document_id = document.get_id

-%]
[%- IF library.has_property(document_id,'revision') -%]
[%- library.get_first_property_value(document_id,'revision') -%]
[%- END -%]