[%#

therevision_ref.tt

ARGS:

self => an SML::Symbol object

-%]
[%-

document    = self.get_containing_document
document_id = document.get_id
library     = document.get_library
ps          = library.get_property_store

-%]
[%- IF ps.has_property(document_id,'revision') -%]
[%- ps.get_property_text(document_id,'revision') -%]
[%- END -%]