[%#

URL_REF.tt

ARGS:

self => an SML::URLReference object

-%]
[%-

url = self.get_url

-%]
[%- IF self.has_content -%]
<a href="[%url%]">[%-FILTER html-%][%-self.get_content-%][%-END-%]</a>
[%- ELSE -%]
<a href="[%url%]">[%url%]</a>
[%- END -%]